:root {

    --clr-very-Dark-Grayish-Blue: hsl(217, 19%, 35%);
    --clr-Desaturated-Dark-Blue: hsl(214, 17%, 51%);
    --clr-Grayish-Blue: hsl(212, 23%, 69%);
    --clr-Light-Grayish-Blue: hsl(210, 46%, 95%); 

    font-size: 13px;
}

*{
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    background-color: var(--clr-Light-Grayish-Blue);
}

body header {
    height: 200px;
}

article header img.drawer {
    height: 200px;
    width: 327px;
    border-radius: 10px 10px 0 0;
}

article.card-container {
    width: 327px;
    height: 512px;
    background-color: white;
    border-radius: 10px;
}

article section.description {
    padding: 36px 32px 20px 32px;
    height: 240px;
}

article section.description h2 {
    margin: 0;
    margin-bottom: 12px;
    font-size: 16px;
    font-weight: 800;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: var(--clr-very-Dark-Grayish-Blue);
}

article section.description p{
    margin: 0;
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: .12px;
    color: var(--clr-Desaturated-Dark-Blue);
}

footer{
    overflow: hidden;
    padding: 12px 32px 20px 20px;
    height: 72px;
    display: flex;
    justify-content: space-between;
    border-radius: 0 0 10px 10px;
}

footer.background_change{
    background-color: var(--clr-very-Dark-Grayish-Blue);
}

footer div.footer-left{
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-direction: column;

}

footer div.sub-left{
    display: flex;
    justify-content: space-between;
    max-height: inherit;
    max-height: 0;
    overflow: hidden;
}

footer div.sub-left.active{
    max-height: fit-content;
}

.footer-left div.bio{
    width: 172px;
    height: 40px;
}

.footer-left div.shared{
    width: 175px;
    height: 20px;
    align-content: center;
    flex-wrap: wrap;
}

button{
    width: 32px;
    height: 32px;
    max-height: inherit;
    border-radius: 100%;
    background-color: var(--clr-Light-Grayish-Blue);
    border: none;
    align-self: center;
}

footer div img.michelle{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    align-self: center;
    max-height: inherit;
}

div.sub-right{
    overflow: hidden;
}

div.sub-right h3{
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.12px;
    color: var(--clr-very-Dark-Grayish-Blue);
    font-weight: 800;
    margin: 0;
    max-height: inherit;
}

div.sub-right p{
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.12px;
    color: var(--clr-Desaturated-Dark-Blue);
    font-weight: 500;
    margin: 0;
    max-height: inherit;
}


div.shared h3{
    margin: 0;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 5px;
    color: var(--clr-Light-Grayish-Blue);
    width: 62px;
}

div.shared img{
    width: 20px;
    height: 20px;
    max-height: inherit;
}

div.socials{
    display: flex;
    justify-content: space-between;
    width: 92px;
    max-height: inherit;
}

@media (min-width: 769px) {

    article.card-container{
        display: grid;
        grid-template-columns: 285px 445px;
        grid-template-rows: 280px;
        width: 730px;
        height: 280px;
    }

    body header{
        height: 280px;
    }

    article header img.drawer{
        width: 285px;
        height: 280px;
        grid-row: 1/2;
        grid-column: 1/2;
        border-radius: 10px 0 0 10px;
    }

    article section.description{
        grid-row: 1/2;
        grid-column: 2/3;
        height: 280px;
        padding: 32px 40px 20px 40px;
    }

    article section.description h2{
        font-size: 20px;
        letter-spacing: 0.25px;
        line-height: 28px;

    }

    footer{
        grid-row: 1/2;
        grid-column: 2/3;
        align-self: end;
        padding: 0px 40px 32px 40px;
        position: relative;
        overflow: visible;
    }

    footer div.sub-left{
        max-height: fit-content;
    }

    .footer-left div.shared{
        position: absolute;
        background-color: var(--clr-very-Dark-Grayish-Blue);
        top: -79px;
        right: -67px;
        width: 248px;
        height: 55px;
        justify-content: center;
        column-gap: 21px;
        border-radius: 10px;
        overflow: visible;
        max-height: 0;
    }

    div.shared::after{
        content: "";
        width: 24px;
        height: 24px;
        position: absolute;
        background-color: var(--clr-very-Dark-Grayish-Blue);
        transform: rotate(45deg);
        top: 43px;
        z-index: 1000;
        max-height: 0;
    }
    div.shared.active::after{
        max-height: fit-content;
    }

    footer.background_change{
        background-color: white;
    }
    
}
